/*reset css*/

*{
    box-sizing: inherit;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
}
/*Animation*/
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes Slider{
    from{
        opacity: 0.5;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes ZoomIn{
    from{
        transform: scale(1);
        
    }
    to{
        transform: scale(1.2);
    }
}
/*Varible*/
:root{
    --main-color: #ff7b89;
}
.active {
    display: block !important;
}
/**/
.display{
    display: block !important;
}
.active-dot{
    background: var(--main-color) !important;
}